* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
body {
  margin: 0;
}
main {
  display: flex;
}
.left-bg {
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 30vw;
  color: #fff;
  position: relative;
}
.card-front {
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  position: relative;
  top: 6.5rem;
  left: 9rem;
  width: 32rem;
}
.card-front p {
  position: relative;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.user-info {
  position: relative;
  display: flex;
  gap: 9.3rem;
}
.card-back {
  background-image: url(/images/bg-card-back.png);
  position: relative;
  top: 7rem;
  left: 13.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32rem;
  height: 13rem;
}
.card-back p {
  position: relative;
  top: 5.7rem;
  left: 18.5rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 28vw;
  gap: 20px;
}
label {
  display: flex;
  flex-direction: column;
}
.date-cvc {
  display: flex;
  justify-content: space-between;
}
input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid hsl(270, 3%, 87%);
}
input:focus {
  border: 1px solid linear-gradient
    (to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
.month-year {
  display: flex;
  gap: 10px;
}
.month,
.year {
  width: 5rem;
}
.button {
  background-color: hsl(278, 68%, 11%);
  color: #fff;
  cursor: pointer;
}














/* @media screen and (max-width: 1440px) {
  body {
    min-width: 1440px;
  }
}
@media screen and (max-width: 515px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .left-bg {
    background-image: url(/images/bg-main-mobile.png);
    background-size: contain;
    min-width: 515px;
  }
  .card-front {
    z-index: 2;
    top: 150px;
    left: 1rem;
  }
  .card-back {
    position: absolute;
    top: 2rem;
    left: 7.5rem;
  }
  .card-back p {
    top: 4.7rem;
  }
} */
